<div class="row pt-3">
  <div class="col-6">
    <app-all-user></app-all-user>
  </div>
  <div class="col-6">
    <app-total-artist></app-total-artist>
  </div>
</div>
<div class="row pt-3">
  <app-total-requset></app-total-requset>
</div>

<div class="row align-items-center pt-3">
  <div class="col-7">
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="col-5">
    <app-pie-chart></app-pie-chart>
  </div>
</div>

<div class="row pt-3">
  <!-- <app-orders-activites></app-orders-activites> -->
</div>
