<section class="how__work ">
  <div class="container">
    <!--request service-->
    <div class="row  align-items-start">
      <div class="col-lg-6 col-12 pt-5  ">
        <h2 class="head__title">How it works</h2>
        <h3 class="sub__title n-red ">request your design service</h3>
        <p class="description">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper
          nulla
          non
          metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
          Done</p>
      </div>
      <div class="col-lg-6 col-12  ">


        <figure class="border-img  w-75 m-auto text-end position-relative">

          <img src="../../../../assets/images/nubian/req-desgin-service.png" alt="" srcset="">
          <span class="triangle2"><svg width="98" height="84" viewBox="0 0 98 84" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M34.6569 30.5176L69.3125 83.7086L0.00130233 83.7086L34.6569 30.5176Z" fill="#2F2EA6" />
              <path d="M62.7572 55.2148L28.1016 0.124165L97.4128 0.124162L62.7572 55.2148Z" fill="#2F2EA6" />
            </svg>
          </span>
        </figure>

      </div>
    </div>

    <!--design product-->

    <div class="row  align-items-center">

      <div class="col-lg-6 col-12 position-relative  design__product-img">

        <figure class="border-img left w-75  text-start">

          <img src="../../../../assets/images/nubian/desgin-product.png" alt="" srcset="">
          <span class="triangle2 left"><svg width="98" height="84" viewBox="0 0 98 84" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M34.6569 30.5176L69.3125 83.7086L0.00130233 83.7086L34.6569 30.5176Z" fill="#2F2EA6" />
              <path d="M62.7572 55.2148L28.1016 0.124165L97.4128 0.124162L62.7572 55.2148Z" fill="#2F2EA6" />
            </svg>
          </span>
        </figure>

      </div>
      <div class="col-lg-6 col-12 design__product pt-lg-auto ps-lg-auto pt-5 ps-5">

        <h3 class="sub__title n-red ">Design your product</h3>
        <p class="description">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper
          nulla non
          metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
          Done</p>
      </div>
    </div>


  </div>

</section>
