.admin .nav-pills .nav-link.active,
.admin .nav-pills > .nav-link,
.admin .nav-pills > .nav-link:hover {
  background: var(--n-blue);
  color: var(--n-yellow);
  font-weight: 900;
}
.admin .nav-pills .nav-link {
  color: white;
  font-style: normal;
  font-size: 16px;
}
