<section class="reset__page n-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="row">
          <div class="col-12 pb-4">
            <h2 class="head__title">Reset your password</h2>
          </div>

          <div class="row justify-content-center" *ngIf="!newPasswordStatus">
            <div class="col-md-8 col-12 form_area">
              <form
                [formGroup]="resetPassword"
                (ngSubmit)="sendCode()"
                class="row g-3"
              >
                <div class="col-md-12 position-relative">
                  <label for="email" class="form-label">E-mai</label>
                  <!--
                    <div class="row">
                    <div class="col-3">
                      <input
                        type="email"
                        class="form-control n-input"
                        placeholder="Info@info.com"
                        disabled
                      />
                    </div>
                    </div>
                  -->
                  <div class="col-8">
                    <input
                      formControlName="email"
                      type="email"
                      class="form-control n-input"
                      placeholder="Info@info.com"
                      id="email"
                      value=""
                    />
                  </div>
                </div>

                <div class="col-12 text-center">
                  <button class="btn btn-blue w-50" type="submit">
                    send code
                  </button>
                </div>
              </form>

              <div class="row" *ngIf="veriedCodeStatus">
                <div class="col-12 pt-md-4">
                  <form [formGroup]="veriedCodeForm" class="row">
                    <div class="col-12 text-center">
                      <h6 class="fw-bold pt-md-3">
                        Check your e-mail to reset password
                      </h6>
                    </div>
                    <!--
                      <div class="col-4 m-auto">
                      <input
                        formControlName="code"
                        type="text"
                        class="form-control n-input text-center"
                        placeholder="- - - - - -"
                        value=""
                      />
                    </div>
                    -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <app-new-password *ngIf="newPasswordStatus"></app-new-password>
      </div>
      <!--Pattern-->
      <div class="col-md-4 d-md-block d-none">
        <div class="pattern">
          <img
            src="../../../../assets/images/pattern/pattern-login.png"
            alt="login__pattern"
          />
        </div>
      </div>
    </div>
  </div>
</section>
