<!--Header-->

<section class="about-header n-blue p-0">
  <div class="container">
    <div class="row offset-md-1 offset-0">
      <div class="col-md-4 col-12">
        <div class="about-header__content">
          <h3>Get your own design</h3>
          <h6>
            Now you can design your own product or select form our products
          </h6>
          <span class="btn btn-blue btn-border">design your product</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Who we are-->
<section class="Who-we__are">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 pt-5">
        <h2 class="head__title">Who we are</h2>
        <p class="description">
          we are an agency that offers many art services. Like decoration and
          graffitti, interior design, henna, ... )using the nubian art
          direction. Clients can order their services by easy steps and the
          agency will arrange the rest of the process.
        </p>
      </div>
      <div class="col-lg-6 col-12 position-relative">
        <figure class="border-img w-75 m-auto text-end">
          <img
            src="../../../../assets/images/nubian/req-desgin-service.png"
            alt=""
            srcset=""
          />
          <span class="triangle2"
            ><svg
              width="98"
              height="84"
              viewBox="0 0 98 84"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M34.6569 30.5176L69.3125 83.7086L0.00130233 83.7086L34.6569 30.5176Z"
                fill="#2F2EA6"
              />
              <path
                d="M62.7572 55.2148L28.1016 0.124165L97.4128 0.124162L62.7572 55.2148Z"
                fill="#2F2EA6"
              />
            </svg>
          </span>
        </figure>
      </div>
    </div>

    <div class="row flex-row-reverse">
      <span class="triangle1 left"
        ><img
          src="https://i.ibb.co/fM7vLX9/triangle1.png"
          alt="triangle1"
          alt=""
      /></span>
    </div>
  </div>
</section>
<!--our artists-->

<app-our-artist></app-our-artist>
<!--Why us-->
<app-why-us></app-why-us>

<!--Features-->
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 position-relative features__img">
        <figure class="border-img left w-75 m-auto text-end">
          <img
            src="../../../../assets/images/nubian/feature.png"
            alt=""
            srcset=""
          />

          <span class="triangle2 left"
            ><svg
              width="98"
              height="84"
              viewBox="0 0 98 84"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M34.6569 30.5176L69.3125 83.7086L0.00130233 83.7086L34.6569 30.5176Z"
                fill="#2F2EA6"
              />
              <path
                d="M62.7572 55.2148L28.1016 0.124165L97.4128 0.124162L62.7572 55.2148Z"
                fill="#2F2EA6"
              />
            </svg>
          </span>
        </figure>
      </div>
      <div class="col-lg-6 col-12 pt-5 features__title">
        <h2 class="head__title">Features</h2>
        <p class="description lh-lg">
          you can select from our different categories<br />
          you can draw your design that is you would like to do<br />
          select product and see more information about it <br />
          create you own account to enjoy our offers <br />
          different types of art and designs
        </p>
      </div>
    </div>
  </div>
</section>
