<!---------------------------Start Footer--------------------------->
<footer class="pt-5 pb-3">
  <div class="container">
    <div class="row">
      <!-- Design services -->
      <div class="col-md-4 col-12">
        <h3>Design services</h3>

        <ul class="list-unstyled">
          <li><a> Interior design</a></li>
          <li><a> graphic art</a></li>
          <li><a> grafitti</a></li>
          <li><a> Palm wicker</a></li>
          <li><a> jewllery</a></li>
          <li><a> ceramic pottary</a></li>
          <li><a> others</a></li>
        </ul>
      </div>

      <!-- Features -->

      <div class="col-md-4 col-12">
        <div class="row">
          <div class="col-12">
            <h3>Features</h3>

            <ul class="list-unstyled">
              <li><a> Do it your way</a></li>
              <li><a> our design servises</a></li>
            </ul>
          </div>
        </div>
        <!-- About us -->

        <div class="row">
          <div class="col-12">
            <h3>About us</h3>

            <ul class="list-unstyled">
              <li><a> How it works</a></li>
              <li><a>Why us?</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Contact us -->

      <div class="col-md-4 col-12">
        <h3>Contact us</h3>
        <ul class="list-unstyled">
          <li><a> Email: nubian@nuba.com</a></li>
          <li><a> Mobile: 01234567889</a></li>
          <li><a> Address: 2 nuba st Aswan Egypt</a></li>
        </ul>

        <div class="contact__icon">
          <ul class="list-inline">
            <li class="list-inline-item mx-2">
              <i class="fab fa-facebook"></i>
            </li>
            <li class="list-inline-item mx-2">
              <i class="fab fa-twitter"></i>
            </li>
            <li class="list-inline-item mx-2">
              <i class="fab fa-instagram"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--copy right-->
    <div class="row">
      <div class="col-12 text-center copyright">
        <span>Copyright © 2021 | Privacy | All Right Reserved</span>
      </div>
    </div>
  </div>
</footer>
<!---------------------------End Footer--------------------------->
