<!---------------------------Start Slider--------------------------->
<app-header></app-header>
<!---------------------------End Slider--------------------------->

<!---------------------------Start How it Work--------------------------->
<app-how-it-work></app-how-it-work>

<!---------------------------End  How it Work--------------------------->
<!---------------------------Start Why us--------------------------->
<app-why-us></app-why-us>
<!---------------------------End Why us--------------------------->

<!---------------------------Start Service--------------------------->
<app-categories></app-categories>

<!---------------------------End Service--------------------------->

<!---------------------------Start Do it--------------------------->
<app-do-your-design></app-do-your-design>
<!---------------------------End Do it--------------------------->

<!---------------------------Start Artist--------------------------->
<app-our-artist></app-our-artist>

<!---------------------------End Artist--------------------------->

<!---------------------------Start  tetimonials--------------------------->
<app-testimonials></app-testimonials>
<!---------------------------End Tetimonials--------------------------->
