<div class="row n-blue">
  <div class="col-12">
    <h2 class="head__title">Edit Categeory</h2>
  </div>

  <div class="row pt-3">
    <div class="col-12 m-auto">
      <div *ngIf="addSuccess">
        <p *ngFor="let alert of alerts">
          <ngb-alert [type]="alert.type" (closed)="close(alert)">{{
            alert.message
          }}</ngb-alert>
        </p>
      </div>
      <ng-container *ngIf="!!name; else elseBLock">
        <div>
          <!--Category name-->
          <div class="mb-3">
            <label class="form-label">Category name:</label>

            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="currentCategeory.name"
            />
          </div>

          <div class="mb-3">
            <img [src]="currentCategeory.image" class="w-25" alt="" />
          </div>
          <!--uplaod image-->
          <div class="file-upload mb-3">
            <input
              type="file"
              (change)="upload($event.target.files)"
              writeFile="true"
            />

            Upload Percent: {{ percentDone }}% <br />

            <ng-container *ngIf="uploadSuccess">
              Upload Successful
            </ng-container>
          </div>

          <div class="mb-3">
            <button
              (click)="updateCategory(currentCategeory)"
              class="btn btn-blue"
              type=" submit"
            >
              update
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #elseBLock>
        <span>loading....</span>
      </ng-template>
    </div>
  </div>
</div>
