<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="head__title">More like this</h2>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card service__item rounded-0 n-border">
          <div class="card-body px-3 pt-5 text-center">
            <!--img-->
            <figure>
              <img
                src="../../../../assets/images/products/products-list/10 1.png"
                alt=""
                class="img-fluid d-block mb-3"
              />
              <span>
                <i class="fas fa-heart"></i>
              </span>
            </figure>
            <!--title-->
            <h5 class="n-blue">Nubian lanscape tabluae</h5>
            <!--description-->
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <!--rate-->
            <div class="d-flex justify-content-between">
              <span class="n-red fw-bold fs-5">200LE</span>
              <ul class="list-inline">
                <li class="list-inline-item fs-5">
                  <i class="fa fa-star n-yellow"></i>
                </li>
                <li class="list-inline-item fs-5">
                  <i class="fa fa-star n-yellow"></i>
                </li>
                <li class="list-inline-item fs-5">
                  <i class="fa fa-star n-yellow"></i>
                </li>
                <li class="list-inline-item fs-5">
                  <i class="fa fa-star n-yellow"></i>
                </li>
                <li class="list-inline-item fs-5">
                  <i class="fa fa-star n-yellow"></i>
                </li>
              </ul>
            </div>
            <div class="row justify-content-center">
              <span class="btn btn-blue w-50 mb-3">Check this service</span>
              <span
                [routerLink]="['/service/details/1']"
                class="
                  btn btn-blue btn-border
                  w-50
                  check
                  position-absolute
                  top-100
                  start-50
                  translate-middle
                "
              >
                View Details</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
